@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Lato:wght@100;300;400&display=swap');

$lato: 'Lato', sans-serif;
$barlow: 'Barlow', sans-serif;;

$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$black: 900;
