@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "components";
@import "reset";

input {
  display: block;
  direction: ltr;
}

h1, h2, h3, h4, h5 {
	color: rgb(239,82,57);
	font-family: $barlow;
}

h5 {
	font-size: 34px;
	font-weight: 400;
}

.card-header {
	font-size: 34px;
    font-family: 'Barlow';
}

input, label {
	font-size: 16px;
	font-weight: 300;	
}

input, textarea {
    margin-bottom: 10px;
}

.form-check-inline {
	input {
		margin-bottom: 0px;
	}
}
